
.fa-html5 {
    color: #e54d26;
}


.fa-bold{
    color: #563d7c;
}


.fa-css3 {
    color: #2163af;
}

.fa-js{
    color:yellow;
}

.fa-copyright {
    color: #563d7c;
}
.fa-facebook-square{
    color: #3b5998;
}
.fa-envelope{
    color: #00aced;
}
.fa-linkedin {
    color: #0077B5; 
}
.fa-github {
    color: #000000; 
}

.fa-html5, .fa-bold, .fa-css3, .fa-js, .fa-java, .fa-python, .fa-copyright {
    font-size: 4em;
    margin: 1rem;
}

.fa-facebook-square, .fa-envelope, .fa-linkedin, .fa-github {
    font-size: 3em;
    margin: 2rem;
}

    .fa-facebook-square:hover, .fa-envelope:hover, .fa-linkedin:hover, .fa-github:hover {
        color: #d5d5d5
    }
